@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Light.ttf");
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    color: white;
}

.spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader {
    display: none;
    position: absolute;
    inset: 0;
    margin: auto; 
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
}

#search {
    align-self: flex-end;
    margin-top: 10px;
    border-bottom: 2px solid white;
}

#search input {
    background: transparent;
    width: 150px;
    height: 20px;
    color: white;
    margin: 0px;
    border: none;
}

#search input:focus {
    outline: none;
    border: none;
}

#search input::placeholder {
   color: white;
   font-weight: bold;
}

#search #search-icon {
    margin: 0px;
}

#summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summary #location {
    font-size: 18px;
}

#summary #weather {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#summary #weather #value {
    font-size: 72px;
}

#summary #weather #units {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

#summary #weather #units .active {
    font-weight: 900;
}

#summary #weather-description {
    font-size: 24px;
    margin-bottom: 5px;
}

#summary #last-updated {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

#summary #weather-details {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#summary #weather-details .details {
    font-size: 12px;
    margin-right: 25px;
}

#daily-forecast,
#hourly-forecast {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#daily-forecast #daily,
#hourly-forecast #hourly {
    align-self: flex-start;
}

#daily-forecast #daily h2,
#hourly-forecast #hourly h2 {
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

#daily-forecast #daily-grid {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

#daily-forecast #daily-grid::-webkit-scrollbar {
    display: none;
}

#daily-forecast #daily-grid .forecast-card,
#hourly-forecast #hourly-grid .hourly-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
}

#daily-forecast #daily-grid .forecast-card h3,
#hourly-forecast #hourly-grid .hourly-card .time {
    font-size: 14px;
    margin: 0px;
}

#daily-forecast #daily-grid .forecast-card img,
#hourly-forecast #hourly-grid .hourly-card img {
    margin: 0px;
}

#daily-forecast #daily-grid .forecast-card .temp,
#hourly-forecast #hourly-grid .hourly-card .temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#daily-forecast #daily-grid .forecast-card .temp .high,
#hourly-forecast #hourly-grid .hourly-card .temp {
    font-size: 20px;
    margin-right: 10px;
}

#daily-forecast #daily-grid .forecast-card .temp .low {
    font-size: 12px;
}

#daily-forecast #daily-grid .forecast-card .desc,
#hourly-forecast #hourly-grid .hourly-card .desc {
    font-size: 14px;
    margin-top: 5px;
}

#hourly-forecast #hourly-grid {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#hourly-forecast #hourly-grid .hourly-card {
    min-width: 150px;
}

#hourly-forecast #hourly-grid::-webkit-scrollbar {
    display: none;
}

